﻿﻿@using kalbetest.datamodels
@model TblProduk
@{
	ViewData["Title"] = "Create Produk";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<form asp-action="Create" method="post" id="form_input" enctype="multipart/form-data">

			<div class="form-group row mb-2">
				<label for="ProductName" class="col-sm-4 col-form-label">Product Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="ProductName" id="ProductName" required value="@Model.ProductName">
				</div>
			</div>

			<div class="mb-4 row a">
				<label for="ProductCode" class="col-sm-4 col-form-label">Product Code</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="ProductCode" name="ProductCode" value="[auto generate]" readonly>
				</div>
			</div>

			
			<div class="form-group row mb-2">
				<label for="Quantity" class="col-sm-4 col-form-label">Quantity</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Quantity" id="Quantity" required value="@Model.Quantity">
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Price" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Price" id="Price" required value="@Model.Price">
				</div>
			</div>



			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-secondary" asp-controller="Produk" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>


<script>
	$("#form_input").validate({
		errorClass: "is-invalid text-danger",
		rules: {
			ProductName: {
				required: true,
				minlength: 5,
			},
			ProductCode: {
				required: true,
				minlength: 4,
			},
			Quantity: {
				required: true,
				minlength: 1,
			},
			Price: {
				required: true,
				minlength: 3,
			}
		},
		messages: {
			ProductName: {
				required: "Please fill name Produk!",
				minlength: "The Name must consist of at least 5 character!",
			},
			ProductCode: {
				required: "Please fill name Produk!",
				minlength: "The Name must consist of at least 5 character!",
			},
			Quantity: {
			required: "Please fill name Produk!",
			minlength: "The Name must consist of at least 5 character!",
			},
			Price: {
			required: "Please fill name Produk!",
			minlength: "The Name must consist of at least 5 character!",
			}
		},

		submitHandler: function (form) {
			var dataForm = $(form).serialize();


			$.ajax({
				url: "/Produk/Create",
				type: "POST",
				dataType: "json",
				data: dataForm,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$("#myModal").modal("hide")

						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else {
						toastr.error(data.message)
					}
				}
			})
		}
	})
</script>