﻿﻿@using kalbetest.datamodels
@model TblProduk
@{
	ViewData["Title"] = "Detail Produk";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<form asp-action="Edit" method="post" id="form_input" enctype="multipart/form-data">
			<input type="hidden" id="Id" name="Id" value="@Model.ProdukId" />
			<div class="form-group row mb-2">
				<label for="ProductName" class="col-sm-4 col-form-label">Product Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="ProductName" id="ProductName" required value="@Model.ProductName" readonly> 
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="ProductCode" class="col-sm-4 col-form-label">Product Code</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="ProductCode" id="ProductCode" required value="@Model.ProductCode" readonly>
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Quantity" class="col-sm-4 col-form-label">Quantity</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Quantity" id="Quantity" required value="@Model.Quantity" readonly>
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Price" class="col-sm-4 col-form-label">Role Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Price" id="Price" required value="@Model.Price" readonly>
				</div>
			</div>



			<div class="form-group row">
				<div class="col-sm-10">
					
					<a class="btn btn-secondary" asp-controller="Produk" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>