﻿@using kalbetest.datamodels
@model TblProduk
@{
	Layout = null;
	//Layout = Model == null ? Layout : null;
	ViewData["Title"] = "Edit Produk";
}
<div class="card">
	<div class="card-body">

		<h2 class="display-6">@ViewData["Title"]</h2>

		<form asp-action="Edit" method="post" id="form_input">
			<input type="hidden" name="ProdukId" id="ProdukId" value="@Model.ProdukId" />
			<div class="form-group row mb-2">
				<label for="ProductName" class="col-sm-4 col-form-label">Product Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="ProductName" id="ProductName" value="@Model.ProductName">
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="ProductCode" class="col-sm-4 col-form-label">Product Code</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="ProductCode" id="ProductCode" value="@Model.ProductCode" readonly>
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Quantity" class="col-sm-4 col-form-label">Quantity</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Quantity" id="Quantity" value="@Model.Quantity">
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Price" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Price" id="Price" value="@Model.Price">
				</div>
			</div>


			<div class="form-group row">
				<div class="col-sm-8">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-light" asp-controller="Produk" asp-action="Index">Back to Index</a>
				</div>
			</div>
		</form>

	</div>
</div>


<script>
	$("#form_input").validate({
		errorClass: "is-invalid text-danger",
		rules: {
			ProductName: {
				required: true,
				minlength: 5,
			},
			ProductCode: {
				required: true,
				minlength: 4,
			},
			Quantity: {
				required: true,
				
			},
			Price: {
				required: true,
			}
		},
		messages: {
			ProductName: {
				required: "Please fill name Produk!",
				minlength: "The Name must consist of at least 5 character!",
			},
			ProductCode: {
				required: "Please fill name Produk!",
				minlength: "The Name must consist of at least 5 character!",
			},
			Quantity: {
				required: "Please fill name Produk!",
			},
			Price: {
				required: "Please fill name Produk!",
			}
		},

		submitHandler: function (form) {
			var dataForm = $(form).serialize();


			$.ajax({
				url: "/Produk/Edit",
				type: "POST",
				dataType: "json",
				data: dataForm,
				success: function (respon) {
					console.log(respon)
					var data = respon.dataRespon
					
					if (data.success) {
						$("#myModal").modal("hide")

						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else {
						
						toastr.error(data.message)
					}
				}
			})
		}
	})
</script>