﻿@using kalbetest.datamodels
@model TblCostumer
@{
	ViewData["Title"] = "Detail Costumer";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<form asp-action="Detail" method="post" id="form_input" enctype="multipart/form-data">

			<div class="form-group row mb-2">
				<label for="CostumerName" class="col-sm-4 col-form-label">Costumer Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="CostumerName" id="CostumerName" required value="@Model.CostumerName" readonly>
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="CostumerAddress" class="col-sm-4 col-form-label">Costumer Address</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="CostumerAddress" id="CostumerAddress" required value="@Model.CostumerAddress" readonly>
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Gender" class="col-sm-4 col-form-label">Gender</label>
				<div class="col-sm-8">
					<select id="Gender" class="form-control" name="Gender">
						@if (Model.Gender == true)
						{
							<input type="text" class="form-control" value="Perempuan" readonly>
						}
						else
						{
							<input type="text" class="form-control" value="Laki - laki" readonly>
						}

					</select>
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="TglLahir" class="col-sm-4 col-form-label">Tanggal Lahir</label>
				<div class="col-sm-8">
					@Html.TextBoxFor(
					model => model.TglLahir,
					"{0:yyy-MM-dd}",
					new {
					@type = "date",
					@class = "form-control",
					@value = Model.TglLahir,
					@readonly = true
					}

					)


				</div>
			</div>



			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-secondary" asp-controller="Costumer" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

