﻿﻿@using kalbetest.datamodels
@model TblCostumer
@{
	ViewData["Title"] = "Edit Costumer";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<form asp-action="Edit" method="post" id="form_input" enctype="multipart/form-data">
			<input type="hidden" name="CostumerId" id="CostumerId" value="@Model.CostumerId" />

			<div class="form-group row mb-2">
				<label for="CostumerName" class="col-sm-4 col-form-label">Costumer Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="CostumerName" id="CostumerName" required value="@Model.CostumerName">
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="CostumerAddress" class="col-sm-4 col-form-label">Costumer Address</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="CostumerAddress" id="CostumerAddress" required value="@Model.CostumerAddress">
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Gender" class="col-sm-4 col-form-label">Gender</label>
				<div class="col-sm-8">
					<select id="Gender" class="form-control" name="Gender">
						<option value="">--Pilih Gender--</option>
						@if(Model.Gender == false)
						{
							<option value="false" selected>Laki-laki</option>
							<option value="true" >Perempuan</option>

						}
						else
						{
							<option value="false">Laki-laki</option>
							<option value="true" selected>Perempuan</option>
						}

					</select>
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="TglLahir" class="col-sm-4 col-form-label">Tanggal Lahir</label>
				<div class="col-sm-8">
					@Html.TextBoxFor(
						model => model.TglLahir,
						"{0:yyy-MM-dd}",
						new {
							@type = "date",
							@class = "form-control",
							@value = Model.TglLahir,
							@readonly = true
						}

					)


				</div>
			</div>



			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-secondary" asp-controller="Costumer" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>


<script>
	$("#form_input").validate({
		errorClass: "is-invalid text-danger",
		rules: {
			CostumerName: {
				required: true,
				minlength: 5,
			},
			CostumerAddress: {
				required: true,
				minlength: 4,
			}
		},
		messages: {
			CostumerName: {
				required: "Please fill name Produk!",
				minlength: "The Name must consist of at least 5 character!",
			},
			CostumerAddress: {
				required: "Please fill name Produk!",
				minlength: "The Name must consist of at least 5 character!",
			}
		},

		submitHandler: function (form) {
			var dataForm = $(form).serialize();


			$.ajax({
				url: "/Costumer/Edit",
				type: "POST",
				dataType: "json",
				data: dataForm,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$("#myModal").modal("hide")

						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else {
						toastr.error(data.message)
					}
				}
			})
		}
	})
</script>