﻿﻿@using kalbetest.datamodels
@using kalbetest.viewmodels;
@model VMTblPenjualan
@{
    ViewData["Title"] = "Create Penjualan kalbe";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>
        <form asp-action="Create" method="post" id="form_input">

            <div class="mb-4 row">
                <label for="CostumerId" class="col-sm-4 col-form-label">Customer Name</label>
                <div class="col-sm-8">
                    @Html.DropDownList("CostumerId",
                    new SelectList(ViewBag.ListCostumer, "CostumerId", "CostumerName"),
                    "--Pilih Customer--",
                    new { @class= "form-control" }
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="ProdukId" class="col-sm-4 col-form-label">Product Name</label>
                <div class="col-sm-8">
                    @Html.DropDownList("ProdukId",
                    new SelectList(ViewBag.ListProduk, "ProdukId", "ProductName"),
                    "--Pilih Product--",
                    new { @class= "form-control" }
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="DateOrder" class="col-sm-4 col-form-label">Date Order</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="DateOrder" name="DateOrder" value="@Model.DateOrder">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Quantity" class="col-sm-4 col-form-label">Quantity</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Quantity" name="Quantity" value="@Model.Quantity">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Penjualan" asp-action="Index">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            CostumerId: "required",
            ProdukId: "required",
            Quantity: {
                required: true,
                number: true
            },
            DateOrder: "required"
        },
        messages: {
            CostumerId: "please select Customer Name",
            ProdukId: "please select Product Name",
            Quantity: {
                required: "plese fill quantity",
                number: "please fill number only"
            },
            DateOrder: "please fill date order"
        },

        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            console.log(dataForm)
            debugger
            $.ajax({
                type: "post",
                url: "/Penjualan/Create",
                dataType: "json",
                data: dataForm,
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#myModal").modal("hide")
                        toastr.success
                            (
                                data.message,
                                "",
                                {
                                    timeOut: 500,
                                    fadeOut: 500,
                                    onHidden: function () {
                                        window.location.reload()
                                    }
                                }
                            )

                    }
                    else {
                        toastr.error(data.message)
                    }
                }
            })
        }
    })

</script>


