﻿@using kalbetest.datamodels
@using kalbetest.viewmodels
@model VMTblPenjualan

@{
    Layout = null;
    ViewData["Title"] = "Role Delete";
}

<div class="card">
    <div class="card-body">

        <form asp-action="SureDelete" method="post">
            <input type="hidden" name="SalesOrderId" value="@Model.SalesOrderId" />
            <h3>Are you sure for delete @Model.CostumerName ?</h3>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-action="Index" class="btn btn-light">Back to Index</a>

            </div>
        </form>

    </div>
</div>