﻿﻿@using kalbetest.datamodels
@using kalbetest.viewmodels;
@model VMTblPenjualan
@{
    ViewData["Title"] = "Edit Penjualan";
}

<div class="card">
    <div class="card-body">
        <div class="h4 mb-4">@ViewData["Title"]</div>
        <form asp-action="Detail" method="post" id="form_input">
            <input type="hidden" id="SalesOrderId" name="SalesOrderId" value="@Model.SalesOrderId" />

            <div class="form-group row mb-2">
                <label for="CostumerName" class="col-sm-4 col-form-label">Product Code</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="CostumerName" id="CostumerName" value="@Model.CostumerName" readonly>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label for="ProductName" class="col-sm-4 col-form-label">Product Code</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="ProductName" id="ProductName" value="@Model.ProductName" readonly>
                </div>
            </div>

            <div class="mb-4 row">
                <label for="DateOrder" class="col-sm-4 col-form-label">Date Order</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(
                    model => model.DateOrder,
                    "{0:yyyy-MM-dd}",
                    new {
                    @type = "date",
                    @class = "form-control",
                    @value = Model.DateOrder,
                    @readonly = true

                    }
                    )
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Quantity" class="col-sm-4 col-form-label">Quantity</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Quantity" name="Quantity" value="@Model.Quantity" readonly>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Penjualan" asp-action="Index">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>